In [1]:
import pandas as pd
import statistics
import numpy
import math
df = pd.read_csv("NIFTY_50_Data.csv")
#df

In [2]:
#df.isnull().sum()
#creating an empty column t+1
df['t+1']=''
#creating an empty column t+1%
df['t+1%']=''
df.head()

          Date     Open     High      Low   Close t+1 t+1%
0  30 Dec 2014  8260.30  8268.25  8220.55  8248.2
1  29 Dec 2014  8214.70  8279.15  8214.70  8246.3
2  26 Dec 2014  8204.80  8234.55  8147.95  8200.7
3  24 Dec 2014  8272.05  8286.40  8155.25  8174.1
4  23 Dec 2014  8324.60  8364.75  8252.85  8267.0

In [3]:
#Sample testing
#df.iloc[0:1,3]

In [4]:
#sample
#i=1
#a = df.iloc[i-1:i,4]
#b = df.iloc[i:i+1,4]
#print(round(float(a)-float(b),2))
#print(int(b))

In [5]:
#adding values to the column 't+1', 't+1%'
for i in range(1,244):
    a = df.iloc[i-1:i,4]
    b = df.iloc[i:i+1,4]
    c = round(float(a)-float(b),2)
    #adding data to t+1 column
    df.iloc[i:i+1,5]=c
    #adding data to t+1% column
    df.iloc[i:i+1,6]=round((c*100/float(b)),2)

In [6]:
#df.head()

In [7]:
df['t+1'] = pd.to_numeric(df['t+1'])
df['t+1%'] = pd.to_numeric(df['t+1%'])

In [8]:
no_of_observations = df['Date'].count() -1
#subtract 1 because indexing starts from 0
print("No of Observations =",no_of_observations)
#win trades is the no of observations for which t+1%>=0
win_trades = (df['t+1%']>=0).sum()
#win_trades>=0 will give true or false, sum will count the trues
print("win trades =",win_trades)
# %wins as percent_wins
percent_wins = (win_trades/no_of_observations)*100
print("%wins =",percent_wins)
#calculating avg
avg = round(numpy.mean(df['t+1']),2)
print("avg =",avg)
#calculating median
med = statistics.median(df['t+1'])
print("Median =",med)
print("Max =",df['t+1'].max())
print("Min =",df['t+1'].min())
#Gross Profit ==> sum of all t+1 values which are >0
grspft = df.loc[df['t+1']>0,'t+1'].sum()
print("gross Profit =",grspft)
#Gross Loss ==> sum of all t+1 values which are <=0
grsloss = df.loc[df['t+1']<=0,'t+1'].sum()
print("gross Loss =",grsloss)
#profit factor = ABS(grspft/grsloss)
pftfactr = round(abs(grspft/grsloss),2)
print("Profit Factor =",pftfactr)
#OAPF = (grspft-max)/grsloss
OAPF = round(abs((grspft-df['t+1'].max())/grsloss),2)
print("OAPF =",OAPF)
#Standard deviation of t+1 column
Stdev = round(numpy.std(df['t+1']),2)
print("Standard deviation of t+1 =", Stdev)
#t-test = avg*sqrt(no of observations)/stdev
t_test = round(avg*(numpy.sqrt(no_of_observations))/Stdev,2)
print("t-test =",t_test)

No of Observations = 243
win trades = 142
%wins = 58.43621399176955
avg = 8.0
Median = 10.0
Max = 199.0
Min = -163.9
gross Profit = 6431.6
gross Loss = -4487.4
Profit Factor = 1.43
OAPF = 1.39
Standard deviation of t+1 = 58.68
t-test = 2.13

In [9]:
#########
#########
#########
#P-val(one tailed)  will be calculated using ttest, degrees of freedom(no of observations)
from scipy.stats import t
#t.cdf(x=abs(t_test), df=no_of_observations)
p_val = t.sf(abs(t_test), df=no_of_observations)
print("P-val =",round(p_val,2))
#1/P-val
p_val_inverse = 1/p_val 
print("1/p-val =",round(p_val_inverse,2))

P-val = 0.02
1/p-val = 58.52

In [10]:
# First quartile (Q1)
Q1 = numpy.nanpercentile(df['t+1'], 25)
print("quartile1 =",Q1)
# Third quartile (Q3)
Q3 = numpy.nanpercentile(df['t+1'], 75)
print("quartile3 =",Q3)
# Interquaritle range (IQR)
IQR = Q3 - Q1
print("IQR =", IQR)
#-ve outlier
neg_outlier = Q1-1.5*IQR
print("-ve outlier =",neg_outlier)
#%-veoutlier


#+ve outlier
postv_outlier = Q3+1.5*IQR
print("+ve outlier =",postv_outlier)
#%+ve outlier

quartile1 = -22.4
quartile3 = 38.5
IQR = 60.9
-ve outlier = -113.75
+ve outlier = 129.85

In [11]:
df['postv_seq']=''
df['negtv_seq']=''
df['pos_seq_points']=''
df['neg_seq_points']=''

In [12]:
#for loop for postv_seq column
for i in range(243,0,-1):
    a = df.iloc[i:i+1,5]  # t+1 value
    if(i==243):
        c = 0
    else:
        c = df.iloc[i+1:i+2,7]
    if(float(a)>0):
        df.iloc[i:i+1,7]=1+c
    else:
        df.iloc[i:i+1,7]=0
#for loop for neg_seq column
for i in range(243,0,-1):
    a = df.iloc[i:i+1,6] # t+1% value
    if(i==243):
        c = 0
    else:
        c = df.iloc[i+1:i+2,8]
    if(float(a)<=0):
        df.iloc[i:i+1,8]=1+c
    else:
        df.iloc[i:i+1,8]=0
#for loop for pos_seq_points column
for i in range(243,0,-1):
    a = df.iloc[i:i+1,5]
    if(i==243):
        c = 0
    else:
        c = df.iloc[i+1:i+2,9] #post_seq value
    if(float(a)>0):
        df.iloc[i:i+1,9]=a+float(c)
    else:
        df.iloc[i:i+1,9]=0
#for loop for neg_seq_points column
for i in range(243,0,-1):
    a = df.iloc[i:i+1,6]
    b = df.iloc[i:i+1,5] 
    if(i==243):
        c = 0
    else:
        c = df.iloc[i+1:i+2,10]  # neg_seq value
    if(float(a)<=0):
        df.iloc[i:i+1,10]=float(b)+float(c)
    else:
        df.iloc[i:i+1,10]=0

In [13]:
#df.tail(10)
#df.iloc[243:244,7]

In [14]:
df['Eq_Curve']=''

In [15]:
# for loop for Eq_Curve
for i in range(243,0,-1):
    a = df.iloc[i:i+1,5]
    if(i == 243):
        b = 200000 ##initial input
    else:
        b = df.iloc[i+1:i+2,11]
    df.iloc[i:i+1,11]= b + 50*float(a)

In [16]:
df['DD']=''

In [17]:
#converting Eq_Curve into numeric column
df['Eq_Curve']=pd.to_numeric(df['Eq_Curve'])

In [18]:
# for loop for DD column
#creating a variable temp_max_eq for DD calculation
temp_max_eq = df.iloc[243:244,11].item()
for i in range(243,0,-1):
    a = df.iloc[i:i+1,11].item()
    if(a>temp_max_eq):
        temp_max_eq=a
    b = temp_max_eq
    df.iloc[i:i+1,12]= int(a*100/b-100)

In [19]:
#temp_max_eq = df.iloc[243:244,11]
#print(temp_max_eq)
#temp_max_eq.item()

In [20]:
df['postv_seq']=pd.to_numeric(df['postv_seq'])
df['negtv_seq']=pd.to_numeric(df['negtv_seq'])
df['pos_seq_points']=pd.to_numeric(df['pos_seq_points'])
df['neg_seq_points']=pd.to_numeric(df['neg_seq_points'])
df['DD']=pd.to_numeric(df['DD'])

In [21]:
MaxConWins = df['postv_seq'].max()
print("MaxConsWins =",MaxConWins)
MaxConLoss = df['negtv_seq'].max()
print("MaxConLoss =",MaxConLoss)
MaxConWinPts = df['pos_seq_points'].max()
print("MaxConWinPts",round(MaxConWinPts,2))
MaxConLossPts = df['neg_seq_points'].min()
print("MaxConLossPts =",MaxConLossPts)
MaxDD = df['DD'].min()
print("MaxDD =",MaxDD)

MaxConsWins = 10.0
MaxConLoss = 5.0
MaxConWinPts 456.2
MaxConLossPts = -333.0
MaxDD = -8.0

In [22]:
Start_Capital = 200000
print("Start Capital =",Start_Capital)
End_Capital = df.iloc[1:2,11].item()
print("End Capital =",End_Capital)
Start_Date = df.iloc[243:,0].item()
print("Start Date =",Start_Date)
End_Date = df.iloc[:1,0].item()
print("End Date =",End_Date)
#No_of_yrs = End_Date - Start_Date
#print("No of years =", //365)
#CAGR = ((End_Capital/Start_Capital)**(1/No_of_yrs))*100-100
CAGR = ((End_Capital/Start_Capital)**(1/1))*100-100
print("CAGR =",round(CAGR,2))
No_of_wins = win_trades
print("No of wins =",No_of_wins)
Adj_no_of_wins = win_trades - math.sqrt(win_trades)
print("Adj no of wins =",round(Adj_no_of_wins,2))
no_of_losses = no_of_observations - win_trades
print("No of Losses =", no_of_losses)
Adj_no_of_losses = no_of_losses + math.sqrt(no_of_losses)
print("Adj no of losses =",round(Adj_no_of_losses,2))

Start Capital = 200000
End Capital = 297210.0
Start Date = 31 Dec 2013
End Date = 30 Dec 2014
CAGR = 48.61
No of wins = 142
Adj no of wins = 130.08
No of Losses = 101
Adj no of losses = 111.05

In [23]:
df['DD_Date']=''
#for loop for DD_Date column
for i in range(243,0,-1):
    a = df.iloc[i:i+1,12].item()
    if(a==0):
        df.iloc[i:i+1,13]=df.iloc[i:i+1,0]
    else:
        df.iloc[i:i+1,13]=df.iloc[i+1:i+2,13]

In [27]:
df.head()

,Date,Open,High,Low,Close,t+1,t+1%,postv_seq,negtv_seq,pos_seq_points,neg_seq_points,Eq_Curve,DD,DD_Date,DD_time
0,2014-12-30,8260.30,8268.25,8220.55,8248.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,
1,2014-12-29,8214.70,8279.15,8214.70,8246.3,1.9,0.02,3.0,0.0,74.1,0.0,297210.0,-5.0,2014-12-04,25 days 00:00:00
2,2014-12-26,8204.80,8234.55,8147.95,8200.7,45.6,0.56,2.0,0.0,72.2,0.0,297115.0,-5.0,2014-12-04,22 days 00:00:00
3,2014-12-24,8272.05,8286.40,8155.25,8174.1,26.6,0.33,1.0,0.0,26.6,0.0,294835.0,-6.0,2014-12-04,20 days 00:00:00
4,2014-12-23,8324.60,8364.75,8252.85,8267.0,-92.9,-1.12,0.0,2.0,0.0,-149.9,293505.0,-6.0,2014-12-04,19 days 00:00:00

In [25]:
#
df['Date'] = pd.to_datetime(df['Date'])
df['DD_Date'] = pd.to_datetime(df['DD_Date'])

In [26]:
df['DD_time']=''
#for loop for DD_time column
for i in range(243,0,-1):
    a = df.iloc[i:i+1,0].item()
    b = df.iloc[i:i+1,13].item()
    df.iloc[i:i+1,14] = a-b

In [34]:
df.iloc[1:2,14]

1    25 days 00:00:00
Name: DD_time, dtype: object

In [ ]:
df['PnL']=''
#for loop for PnL column